<footer class="footer">
  <div class="footer-links">
    <a class="footer_item" href="http://www.linkedin.com/in/nathan-orick">linkedin</a>
    <a class="footer_item" href="https://cnorick.github.io/markdown-cv/">resume</a>
    <a class="footer_item" href="/contact">contact</a>
    <a class="footer_item" href="/feed.xml">rss</a>
  </div>
  <span class="footer-copyright footer_item">&copy; {{ site.time | date: "%Y" }} {{site.author.name}}</span>
<script src="/assets/js/main.js" defer="defer"></script>