{% capture expression %}item.id == '{{include.postId}}'{% endcapture -%}
{%- assign post = site.posts | find_exp: "item", expression -%}
{%- capture postUrl -%}
    {{post.url}} {%- if include.anchor -%}#{{include.anchor}}{%- endif -%}
{%- endcapture -%}
<span>
    <a class="link-summary-tooltip" href="{{postUrl}}">{{post.title}}</a>
    <span class="link-summary-tooltip-content">
        <img class="link-summary-image" src="{{post.url}}/{{post.image}}"/>
        <span class="link-summary-description">
            {{post.description}}
        </span>
    </span>
</span>