<div class="reaction-container">
  <button class="like-button" id="like-button" title="like this post" disabled>
    <span class="thanks">thanks!</span>
    <span class="like-icon">👍</span>
    <span class="like-count" id="like-count"></span>
    </button>
  <button class="like-button" id="clap-button" title="clap for this post" disabled>
    <span class="thanks">thanks!</span>
    <span class="like-icon">👏</span>
    <span class="like-count" id="clap-count"></span>
    </button>
  <script src="/assets/js/reactions.js" async></script>
</div>