.wide, .wide-image {
    width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px);
}

.wide-image {
    max-height: 50vh;
    overflow: hidden;
}

aside {
    background-color: var(--smoke);
    border-radius: 10px;
    padding: 1em;
    margin-left: 4em;
    margin-right: 2em;
    border: 1px solid var(--gray);

    @include media-query($on-mobile) {
        margin: 0;
    }
}

.link-summary-tooltip {
  position: relative;
  display: inline;
  border-bottom: 1px dotted;
}

.link-summary-tooltip-content {
  visibility: hidden;
  width: 500px;
  background-color: var(--background-color);
  border: 1px solid var(--smoke);
  color: var(--text-base-color);
  text-align: center;
  padding: 5px;
  border-radius: 1px;
  display: flex;
  position: absolute;
  z-index: 1;
  flex-direction: row;
  margin: 5px;
  max-width: 80vw;
}

.link-summary-image {
    width: 50px;
    height: 50px;
    margin: 0;
}

.link-summary-title-container {
    display: flex;
    flex-direction: column;
}

.link-summary-description {
    font-size: .7rem;
    text-align: left;
    margin-left: 1rem;
}

.link-summary-tooltip:hover + .link-summary-tooltip-content {
  visibility: visible;
}

.toc-container {
    border: 1px solid;
}

.toc-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.toc-title {
    margin-left: 1rem;
}

.toc-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.toc-expander {
    border: none;
    margin: .3em .3em;
    cursor: pointer;
    &::after {
        content: '\02795';
    }
    .active & {
        &::after {
            content: '\2796';
        }
    }
}

.picture-container {
  position: relative;
  width: fit-content;

  .play-button {
    position: absolute;
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    z-index: 1;
    opacity: .7;
    border-radius: 139px;
    background: gray;
    pointer-events: none;
    transition: all .5s;

    img {
        filter: invert(99%) sepia(2%) saturate(662%) hue-rotate(268deg) brightness(111%) contrast(73%);
    }
  }

  &:hover .play-button,
  &:active .play-button,
  &:focus .play-button {
    box-shadow: 0px 0px 10px 5px var(--text-link-blue-active);
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    transition: all .5s;
  }
}
